body{
  background: linear-gradient(to right,rgb(97, 45, 238), pink);}
.table > thead > tr > th{
    background-color: rgb(70, 243, 64); 
    border: 3px solid black;
    }
    #clear{
      border-radius: 200px;
      border: 3px solid black;
      background-color: rgb(240, 26, 26);
    }
    #add{
      border-radius: 200px;
      border: 3px solid black;
      background-color: rgba(40, 26, 240, 0.884);
    }
    th {
      column-gap: 4000px;
    }
  
    .form-control{
        border-color: black;
        border-radius: 200px;
        box-sizing: border-box;
        border-style:double;
        border-width: 10px;
    }
  
    
h1   {color: blue;}
h2    {color: rgb(8, 0, 0);}
label {color:rgb(3, 0, 0)}